.conference-schedule, .channel_schedule, .channel_schedule2, .channel_programm {

    font-family: Helvetica;
    margin-left: 2em;
    margin-right: 2em;

    p, h1, h2, h3, h4, h5 {
        font-family: Helvetica;
    }

    h1 {
        font-size: 14pt;
        text-transform: uppercase;
    }

    h2 {
        font-size: 12pt;
        text-transform: uppercase;
        color: #ED1C24;
        font-weight: bold;
    }

    h3 {
        font-size: 10pt;
        font-weight: bold;
    }

    h4 {
        font-size: 10pt;
        text-transform: uppercase;
    }

    .app__body .post__body hr {
        background-color: #ED1C24 !important;
    }

    hr {
        border: none;
        background-color: #ED1C24;
        height: 2px;
        width: 30%;
        margin-left: auto;
        margin-right: 0;
    }

    .schedule-time, h5 {
        color: #ED1C24;
        float: right;
    }
}
